@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap);
h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
  color: #101010;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
}

h5 {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  color: white;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}

.button {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(167deg, #FF79DA -11.44%, #9356DC 123.93%);
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}
.button--explore {
  margin-bottom: 27px;
}
.button--order {
  margin-top: 28px;
}

.how-to__steps__card {
  -o-object-fit: contain;
     object-fit: contain;
  height: 72px;
  position: relative;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #EAEAEA;
  border-radius: 20px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.how-to__steps__card-nb {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: -10px;
}
.how-to__steps__card i {
  margin-right: 27px;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurant__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  height: 172px;
  border-radius: 15px 15px 0 0;
}
.restaurant__card .img__menilmontant, .restaurant__card .img__charonne {
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}
.restaurant__card .card__content {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  padding: 15px 12px;
}
.restaurant__card .card__content p {
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.0625rem;
  color: black;
}
.restaurant__card .card__content i {
  margin-right: 13px;
  color: #101010;
}
.restaurant__card .card__content i:active, .restaurant__card .card__content i:hover {
  color: #9356DC;
  font-weight: 900;
}

.menu__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  padding: 12px 15px;
}
.menu__card h4, .menu__card span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  margin-bottom: 5px;
}
.menu__card--price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__card--price p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: black;
  margin: 0;
}

header, .location, .catchword, .how-to__steps__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  height: 63px;
}
header i {
  display: inline-block;
  z-index: 1;
  position: absolute;
  color: #353535;
  left: 24px;
}

.location {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
  height: 50px;
}
.location i {
  margin-right: 17px;
}

.catchword {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background-color: #F6F6F6;
}
.catchword h2 {
  margin: 0 40px;
}
.catchword h2 + p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #353535;
  margin: 18px 0;
}

.how-to {
  background-color: white;
  padding: 48px 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 18px;
}
.restaurants h2 {
  margin-left: 3px;
}

.restaurants-choice {
  display: grid;
  grid: repeat(4, 1fr)/1;
  gap: 18px;
  margin-top: 20px;
  margin-bottom: 22px;
}

.related-infos {
  background-color: #353535;
  padding: 22px 25px;
}
.related-infos h5 {
  margin-bottom: 9px;
}
.related-infos div {
  display: flex;
  flex-direction: column;
}
.related-infos__partnership a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
.related-infos__contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}
.related-infos a {
  margin-top: 7px;
}
.related-infos i {
  margin-right: 11px;
}

.restaurant-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.restaurant-img img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 63px;
}

.menu-container {
  margin-bottom: 235px;
}

.menu {
  width: 1055px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #EAEAEA;
  padding: 40px 12px;
  position: relative;
  top: 235px;
  z-index: 2;
}
.menu h2 {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  color: #101010;
  line-height: 41px;
}
.menu h3 {
  margin-top: 40px;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: black;
  right: 50%;
}
.menu--title {
  display: flex;
  justify-content: space-between;
}
.menu--title h1, .menu--title i {
  display: inline-block;
  margin-right: 28px;
}
.menu__line {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-bottom: 12px;
}