@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap);
h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
  color: #101010;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
}

h5 {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  color: white;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}

.button {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(167deg, #FF79DA -11.44%, #9356DC 123.93%);
  position: relative;
  z-index: 1;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.button::before {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}
.button:hover::before {
  opacity: 1;
}
.button--explore {
  margin-bottom: 27px;
}
.button--order {
  margin-top: 28px;
}

.heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  cursor: pointer;
}
.heart i {
  font-size: 1.25rem;
}
.heart--empty {
  position: absolute;
  color: black;
  z-index: 5;
}
.heart--empty--grad {
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}
.heart--full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 3;
}
.heart--mask {
  display: inline-block;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  transform-origin: top;
  transition: all 800ms steps(13, jump-start);
  z-index: 4;
}
.heart:hover .heart--empty {
  z-index: -1;
}
.heart:hover .heart--empty--grad {
  z-index: 5;
}
.heart:hover .heart--mask {
  transform: scaleY(0);
}
.heart:hover .heart--full {
  opacity: 1;
  animation: heart--anime 400ms 700ms 2 forwards;
}
@keyframes heart--anime {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.5;
    animation-timing-function: ease-out;
  }
  75% {
    scale: 1.3;
    animation-timing-function: ease-out;
  }
}
.heart__restaurants {
  margin-right: 13px;
  margin-bottom: 14px;
  bottom: 0;
}
.heart__menu .heart--mask {
  background-color: #EAEAEA;
  width: 25px;
  height: 25px;
}

.how-to__steps__card {
  width: 300px;
  height: 72px;
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #EAEAEA;
  border-radius: 20px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.how-to__steps__card-nb {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: -10px;
}
.how-to__steps__card i {
  margin-right: 27px;
}
.how-to__steps__card .fa-user-purple {
  color: #9356DC;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurant__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  height: 172px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card .img__menilmontant, .restaurant__card .img__charonne {
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}
.restaurant__card .card__content {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 12px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.restaurant__card .card__content p {
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.0625rem;
  color: black;
}

.menu__subtitle--1 {
  animation: menu-subtitle-anime 800ms 800ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  z-index: 3;
}
.menu__subtitle--2 {
  animation: menu-subtitle-anime 800ms 1600ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  z-index: 3;
}
.menu__subtitle--3 {
  animation: menu-subtitle-anime 800ms 2400ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  z-index: 3;
}
.menu__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  padding: 12px 15px;
}
.menu__card--1 {
  animation: menu-card-anime 800ms 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--2 {
  animation: menu-card-anime 800ms 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--3 {
  animation: menu-card-anime 800ms 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--4 {
  animation: menu-card-anime 800ms 800ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--5 {
  animation: menu-card-anime 800ms 1000ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--6 {
  animation: menu-card-anime 800ms 1200ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--7 {
  animation: menu-card-anime 800ms 1400ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--8 {
  animation: menu-card-anime 800ms 1600ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--9 {
  animation: menu-card-anime 800ms 1800ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card--10 {
  animation: menu-card-anime 800ms 2000ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
.menu__card h4, .menu__card span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  margin-bottom: 5px;
}
.menu__card--price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__card--price p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: black;
  margin: 0;
}
.menu__card h4, .menu__card p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .menu__card {
    min-width: 634px;
  }
}

@keyframes menu-card-anime {
  0%, 50% {
    opacity: 0.05;
    transform: translateY(-120px) scaleY(0.05);
    z-index: 1;
  }
  70% {
    transform: translateY(-60px) scaleY(0.25);
  }
  90% {
    opacity: 0.4;
    transform: translateY(0) scaleY(1);
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes menu-subtitle-anime {
  0% {
    opacity: 0;
    z-index: 1;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
header, .location, .catchword, .how-to__steps__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
}
@media screen and (min-width: 1080px) {
  header {
    height: 93px;
  }
}
header i {
  display: inline-block;
  z-index: 1;
  position: absolute;
  color: #353535;
  left: 24px;
}

.location {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #353535;
  height: 50px;
}
.location i {
  margin-right: 17px;
}

.catchword {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background-color: #F6F6F6;
}
.catchword h2 + p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #353535;
  margin: 18px 0;
}

.how-to {
  padding: 48px 20px;
}
@media screen and (min-width: 1080px) {
  .how-to {
    width: 1080px;
    margin: auto;
  }
}
.how-to__steps {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1080px) {
  .how-to__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 18px;
}
.restaurants h2 {
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .restaurants__container {
    max-width: 1080px;
    margin: auto;
  }
}
.restaurants__choice {
  display: grid;
  grid: repeat(4, 1fr)/1;
  gap: 18px;
  margin-top: 20px;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .restaurants__choice {
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 25px;
  }
}
@media screen and (min-width: 1080px) {
  .restaurants__choice {
    grid: repeat(2, 1fr)/repeat(2, 1fr);
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
}

.related-infos {
  background-color: #353535;
  padding: 22px 25px;
}
.related-infos h5 {
  margin-bottom: 9px;
  padding-right: 50px;
}
@media screen and (min-width: 1080px) {
  .related-infos h5 {
    display: inline-block;
    order: 1;
    margin-left: 80px;
  }
}
.related-infos div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1080px) {
  .related-infos div {
    flex-direction: row;
    margin-right: 17px;
  }
}
.related-infos__partnership a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}
@media screen and (min-width: 1080px) {
  .related-infos__partnership a {
    margin-right: 10px;
  }
}
.related-infos__contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}
@media screen and (min-width: 1080px) {
  .related-infos__contact a {
    margin-right: 10px;
  }
}
.related-infos a {
  margin-top: 7px;
}
.related-infos i {
  margin-right: 11px;
}
@media screen and (min-width: 1080px) {
  .related-infos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 57px 12px 30px 12px;
  }
}

.restaurant-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.restaurant-img img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 93px;
}

.menu-container {
  margin-bottom: 235px;
}

.menu {
  max-width: 1055px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 235px;
  z-index: 2;
  background: #EAEAEA;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 40px 13px;
}
.menu h2 {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  color: #101010;
  line-height: 41px;
}
.menu h3 {
  margin-top: 40px;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: black;
}
.menu--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
}
.menu--title h1, .menu--title i {
  display: inline-block;
}
.menu--title h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .menu--title {
    justify-content: center;
  }
}
.menu__line {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .menu {
    align-items: center;
  }
}