// define the various colors
$white: white;
$lighter: #F6F6F6;
$light: #EAEAEA;
$dark: #353535;
$darker: #101010;
$black: black;
$purple: #9356DC;

// define the background color
$bg-color: $white or $lighter or $light or $dark or $purple;

// define the font color
$txt-color: $white or $dark or $darker or $black or $purple;

@mixin bg-color($bg-color) {
    background-color: $bg-color;
}

// define the gradient background 
@mixin bg-gradient {
    background: linear-gradient(167deg, #FF79DA -11.44%, #9356DC 123.93%);
}

@mixin robot($robot-weight,$robot-size,$txt-color) {
    font-family: 'Roboto', sans-serif;
    font-weight: $robot-weight*100;
    font-size: calc($robot-size / 16)+rem;
    color: $txt-color;
}

@mixin shrik($shrik-size,$txt-color) {
    font-family: 'Shrikhand';
    font-size: calc($shrik-size / 16)+rem;
    color: $txt-color;
}

// define the height, width and radius corner of element background
@mixin bg-style($bg-height,$bg-width,$bg-radius) {
    height: $bg-height+px;
    width: $bg-width+px;
    border-radius: $bg-radius+px;
}

// define the shadow
@mixin shadow($Y,$B,$OPA) {
    position: relative;
    box-shadow: 0px $Y+px $B+px rgba(0, 0, 0, calc($OPA / 100));
}

// center elements
@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

//various fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap);

h1 {
    @include shrik(30,$darker);
}

h2, h3 {
    @include robot(7,24,$black);
}

h4 {
    @include robot(7,18,$black);
}

h5 {
    @include shrik(18,$white);
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

i {
    display: inline-block;
}

header, .location, .catchword, .how-to__steps__card {
    @include centered;
}

body {
    @include bg-color($light);
}

header {
    @include shadow(2,4,15);
    @include bg-color($white);
    height: 63px;
    i {
        display: inline-block;
        z-index: 1;
        position: absolute;
        color: $dark;
        left: 24px;
    }
}

.location {
    @include bg-color($lighter);
    @include robot(5,16,$dark);
    height: 50px;

    i {
        margin-right: 17px;
    }
}

.catchword {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;

    h2 {
        margin: 0 40px;

        & + p {
            @include robot(3,18,$dark);
            margin: 18px 0;
        }
    }

    .button {
        @include bg-style(50,218,25);
        @include bg-gradient;
        @include shadow(4,10,25);
        @include robot(5,16,$white);
        @include centered;
        cursor: pointer;
        margin: 0 auto;
        border: none;
        margin-bottom: 27px;
    }
}

//order process
.how-to {
    @include bg-color($white);
    padding: 48px 20px;
    object-fit: contain;
}

.how-to__steps__card {
    object-fit: contain;
    height: 72px;
    position: relative;
    display: flex;
    @include robot(5,16,$black);
    @include shadow(4,15,15);
    @include bg-color($light);
    border-radius: 20px;
    margin-top: 26px;
    margin-bottom: 20px;

    &-nb {
        position: absolute;
        @include bg-style(24,24,12);
        @include bg-color($purple);
        @include robot(5,14,$white);
        @include centered;
        left: -10px;
    }

    i {
        margin-right: 27px;
    }
}

//restaurants section
.restaurants {
    @include bg-color($lighter);
    padding: 54px 18px;

    h2 {
        margin-left: 3px;
    }
}

.restaurants-choice {
    display: grid;
    grid: repeat(4, 1fr) / 1;
    gap: 18px;
    margin-top: 20px;
    margin-bottom: 22px;

}

.restaurant__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        object-fit: cover;
        object-position: 50% 60%;
        height: 172px;
        border-radius: 15px 15px 0 0;
    }

    .img__menilmontant, .img__charonne {
        object-position: 50% 61%;
    }

    .card__content {
        @include bg-color($white);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 15px 15px;
        padding: 15px 12px;

        p {
            margin: 5px 0;
            @include robot(3,17,$black);
        }

        i {
            margin-right: 13px;
            color: $darker;
            &:active, &:hover {
                    color: $purple;
                    font-weight: 900;
                }
        }
    }
}

//footer
.related-infos {
    @include bg-color($dark);
    padding: 22px 25px;
    z-index: 1;

    h5 {
        margin-bottom: 9px;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    &__partnership a {
        @include robot(5,16,$white);
    }

    &__contact a {
        @include robot(4,16,$white);
    }

    a {
        margin-top: 7px;
    }

    i {
        margin-right: 11px;
    }
}