//  emergence of menu part's titles
@keyframes menu-subtitle-anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// emergence of menu's elements
@keyframes menu-card-anime {
    0% {
        opacity: 0;
        transform: translateY(-40px) scaleY(.05);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

// menu selected
@keyframes selected {
    0% {
        transform-origin: right;
    }

    25% {
        opacity: .5;
        transform-origin: right;
    }

    100% {
        transform: scaleX(1);
        transform-origin: right;
    }
}

// heartbeat
@keyframes heart--anime {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 1.5;
        animation-timing-function: ease-out;
    }
    75% {
        scale: 1.3;
        animation-timing-function: ease-out;
    }
}