// define the various colors
$white: white;
$lighter: #F6F6F6;
$light: #EAEAEA;
$dark: #353535;
$darker: #101010;
$black: black;
$purple: #9356DC;
$turquoise: #99E2D0;

// define the font color
$txt-color: $white or $dark or $darker or $black or $purple;

// breakpoints
$breakpoints: (tablette: 768px, desktop: 1080px);

// animations durations
$mn-emergence-duration: 400ms;
$mn-emergence-delay: 200;
$mn-sub-emergence-duration: 400ms;
$mn-sub-emergence-delay: 500;
$mn-selected: 250ms;
$heart-anime-duration: 400ms;
$heart-anime-delay: 700ms;
$heartbeats: 2;