/***** define the various colors *****/
$white: white;
$lighter: #F6F6F6;
$light: #EAEAEA;
$dark: #353535;
$darker: #101010;
$black: black;
$purple: #9356DC;
$turquoise: #99E2D0;

/***** define the background color *****/
$bg-color: $white or $lighter or $light or $dark or $purple;

/***** define the font style *****/
$txt-color: $white or $dark or $darker or $black or $purple;
