// card on how to order
.how-to__steps__card {
    width: 300px;
    height: 72px;
    display: flex;
    position: relative;
    @include robot(5,16,$black);
    @include shadow(4,15,15);
    background-color: $light;
    border-radius: 20px;
    margin-top: 26px;
    margin-bottom: 20px;
    z-index: 1;

    // create a partial mask (rgba where alpha = 0.1) hidden (opacity: 0) when mouse ain't hover
    &::before {
        background-color: rgba(187, 86, 220, 0.1);
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left:0;
        opacity: 0;
        transition: opacity 250ms;
        border-radius: 20px;
        z-index: -1;
    }

    // apply (opacity: 1) the partial mask for an hover effect
    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &--nb {
        position: absolute;
        @include bg-style(24,24,12);
        background-color: $purple;
        @include robot(5,14,$white);
        @include centered;
        left: -10px;
    }

    i {
        margin-right: 27px;
    }

    .fa-user-purple {
        color: $purple;
    }
}

// restaurant's card
.restaurant__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    img {
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% 77%;
           object-position: 50% 77%;
        height: 172px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .img__menilmontant, .img__charonne {
        -o-object-position: 50% 61%;
           object-position: 50% 61%;
    }

    // indicate newly added
    &__new {
        position: absolute;
        height: 29px;
        width: 80px;
        background-color: $new-background;
        @include centered;
        @include robot(5,14,$new-color);
        right: 0;
        margin: 15px;
    }

    &__content {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 12px;
        @include shadow(4,15,15);

        p {
            margin: 5px 0;
            @include robot(3,17,$black);
        }
    }
}

// menu's card
.menu {
    // emergence of menu part's titles
    @for $mn-subtitle-nb from 1 to 4 {
        &__subtitle--#{$mn-subtitle-nb} {
            -webkit-animation: menu-subtitle-anime $mn-sub-emergence-duration ($mn-subtitle-nb*$mn-sub-emergence-delay)+ms ease-in-out both;
                    animation: menu-subtitle-anime $mn-sub-emergence-duration ($mn-subtitle-nb*$mn-sub-emergence-delay)+ms ease-in-out both;
        }
    }

    // emergence of menu's elements
    &__card {
        @for $card-nb from 1 to 13 {
            &--#{$card-nb} {
                -webkit-animation: menu-card-anime $mn-emergence-duration ($card-nb*$mn-emergence-delay) ease both;
                        animation: menu-card-anime $mn-emergence-duration ($card-nb*$mn-emergence-delay) ease both;
            }
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
        border-radius: 15px;
        margin-top: 12px;
        padding: 12px 15px;
        @include shadow (4,15,10);

        &__content {
            // width: 80% limits meal's names while the card is unselected
            width: 88%;
    
            h4 {
                @include robot(5,18,$black);
            }
        
            p {
                @include robot(3,15, $black);
                margin: 0;
            }

            h4, p {
                // when meal's names width (80% or 65%) is reached it had dots at the end and keepall in one line
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        &__selected {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            width: 60px;

            span {
                @include robot(5,18,$black);

                transform: translateX(0);
            }
        
            &--anime {
                position: absolute;
                @include centered;
                width: 59px;
                height: 100%;
                background-color: $turquoise;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                color: $white;
                font-size: 1.25rem;
                // right: -1 otherwise a tiny piece of white background is seen when 
                right: -1px;
                top: 0;

                transform: scaleX(0);
            }
        }

        &:hover {
            .menu__card {
                &__selected--anime {
                    // show the selected's tab
                    -webkit-animation: selected $mn-selected ease-in both;
                    animation: selected $mn-selected ease-in both;
                
                    // make the selected icon turn
                    i {
                        transform: rotate(1turn);
                        transition: all 750ms;
                    }
                }

                &__selected span {
                    // the price move while the selected's tab emerge
                    transform: translateX(-60px);
                    transition: all $mn-selected ease-in;
                    // help keep card's layout 
                    width: 31%;
                }

                &__content {
                    // width: 65% reduce meal's names width when the card is selected
                    width: 69%;
                }
            }
        }
    
        @include tablette {
            min-width: 634px;
        }
    }
}