// card on how to order
.how-to__steps__card {
    width: 300px;
    height: 72px;
    display: flex;
    position: relative;
    @include robot(5,16,$black);
    @include shadow(4,15,15);
    background-color: $light;
    border-radius: 20px;
    margin-top: 26px;
    margin-bottom: 20px;

    &-nb {
        position: absolute;
        @include bg-style(24,24,12);
        background-color: $purple;
        @include robot(5,14,$white);
        @include centered;
        left: -10px;
    }

    i {
        margin-right: 27px;
    }

    .fa-user-purple {
        color: $purple;
    }
}

// restaurant's card
.restaurant__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        object-fit: cover;
        object-position: 50% 60%;
        height: 172px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .img__menilmontant, .img__charonne {
        object-position: 50% 61%;
    }

    .card__content {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 12px;
        @include shadow(4,15,15);

        p {
            margin: 5px 0;
            @include robot(3,17,$black);
        }
    }
}

// menu's card
.menu {
    @for $menu-subtitle-nb from 1 to 4 {
        &__subtitle--#{$menu-subtitle-nb} {
            animation: menu-subtitle-anime 800ms ($menu-subtitle-nb*600)+ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
            z-index: 3;
        }
    }

    &__card {
        @for $card-nb from 1 to 11 {
            &--#{$card-nb} {
                animation: menu-card-anime 800ms ($card-nb*200)+ms cubic-bezier(0.55, 0.055, 0.675, 0.19) both;}
        }

        display: flex;
        flex-direction: column;
        background-color: $white;
        @include shadow (4,15,10);
        border-radius: 15px;
        margin-top: 12px;
        padding: 12px 15px;
    
        h4, span {
            @include robot(5,18,$black);
            margin-bottom: 5px;
        }
    
        &--price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            p {
                @include robot(3,15, $black);
                margin: 0;
            }
        }
    
        h4, p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    
        @include tablette {
            min-width: 634px;
        }
    }
}



@keyframes menu-card-anime {
    0%, 50% {
        opacity: .05;
        transform: translateY(-120px) scaleY(.05);
        z-index: 1;
    }

    70% {
        transform: translateY(-60px) scaleY(.25);
    }

    90% {
        opacity: .4;
        transform: translateY(0) scaleY(1);
    }

    100% {
        opacity: 1;
        z-index: 2;
    }
}

@keyframes menu-subtitle-anime {
    0% {
        opacity: 0;
        z-index: 1;
    }

    60% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}