// card on how to order
.how-to__steps__card {
    width: 300px;
    height: 72px;
    display: flex;
    position: relative;
    @include robot(5,16,$black);
    @include shadow(4,15,15);
    background-color: $light;
    border-radius: 20px;
    margin-top: 26px;
    margin-bottom: 20px;

    &-nb {
        position: absolute;
        @include bg-style(24,24,12);
        background-color: $purple;
        @include robot(5,14,$white);
        @include centered;
        left: -10px;
    }

    i {
        margin-right: 27px;
    }

    .fa-user-purple {
        color: $purple;
    }
}

// restaurant's card
.restaurant__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        object-fit: cover;
        object-position: 50% 60%;
        height: 172px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .img__menilmontant, .img__charonne {
        object-position: 50% 61%;
    }

    .card__content {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 12px;
        @include shadow(4,15,15);

        p {
            margin: 5px 0;
            @include robot(3,17,$black);
        }
    }
}

// menu's card
.menu {
    // emergence of menu part's titles
    @for $menu-subtitle-nb from 1 to 4 {
        &__subtitle--#{$menu-subtitle-nb} {
            animation: menu-subtitle-anime 400ms ($menu-subtitle-nb*500)+ms ease-in-out both;
        }
    }

    // emergence of menu's elements
    &__card {
        @for $card-nb from 1 to 13 {
            &--#{$card-nb} {
                animation: menu-card-anime 400ms ($card-nb*200)+ms ease both;
            }
        }

        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: 15px;
        margin-top: 12px;
        padding: 12px 15px;
        @include shadow (4,15,10);
        background-color: $white;

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        h4, span {
            @include robot(5,18,$black);
            margin-bottom: 5px;
        }
    
        &--price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            p {
                @include robot(3,15, $black);
                margin: 0;
            }
        }
    
        h4, p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__selected {
            width: 59px;
            height: 100%;
            background-color: $turquoise;
            font-size: 1.25rem;
            color: $white;
            @include centered;
            position: absolute;
            right: -1px;
            top: 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transform: scaleX(0);
        }

        &:hover {
            .menu__card__selected {
                animation: selected 250ms ease-in both;
                i {
                    transform: rotate(1turn);
                    transition: all 750ms;
                }
            }
        }
    
        @include tablette {
            min-width: 634px;
        }
    }
}

@keyframes selected {
    0% {
        transform-origin: right;
    }

    25% {
        opacity: .5;
        transform-origin: right;
    }

    100% {
        transform: scaleX(1);
        transform-origin: right;
    }
}