.button {
    @include bg-style(50,218,25);
    @include btt-gradient-anima;
    @include shadow(4,10,25);
    @include robot(5,16,$white);
    @include centered;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    
    // positioning in homepage
    &--explore {
        margin-bottom: 27px;
    }

    // positioning in restaurants pages
    &--order {
        margin-top: 28px;
    }
}