// loader 
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $purple;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include shrik(48,$lighter);
    @include centered;anime {
    }

    -webkit-animation: loading $loading-time both;

            animation: loading $loading-time both;

    // mergence of "oh" from the top
    &__letters--1 {
        font-size: 42px;
        margin-right: -8px;
        -webkit-animation: fade-down $loader-anime-speed 600ms backwards ease infinite;
                animation: fade-down $loader-anime-speed 600ms backwards ease infinite;
    }
    
    // emergence of "my" from the bottom
    &__letters--2 {
        font-size: 18px;
        margin-right: -4px;
        -webkit-animation: fade-up $loader-anime-speed 600ms backwards ease-in-out infinite;
                animation: fade-up $loader-anime-speed 600ms backwards ease-in-out infinite;
    }
    
    // zoom-in "food"
    &__letters--3 {
        font-size: 96px;
        -webkit-animation: magnify $loader-anime-speed 200ms ease-in backwards infinite;
                animation: magnify $loader-anime-speed 200ms ease-in backwards infinite;
    }
}