// loader 
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include centered;

    animation: loading $loading-time both;

    &__container {
        position: absolute;
        background-color: $purple;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        @include centered;
        // overflow: hidden for the outside animated text
        overflow: hidden;

        &--anime {
            @include shrik(48,$lighter);
        }
    }

    // mergence of "oh" from the top
    &__letters--1 {
        font-size: 42px;
        margin-right: -8px;
        animation: fade-down $loader-anime-speed 600ms backwards ease infinite;
    }
    
    // emergence of "my" from the bottom
    &__letters--2 {
        font-size: 18px;
        margin-right: -4px;
        animation: fade-up $loader-anime-speed 600ms backwards ease-in-out infinite;
    }
    
    // zoom-in "food"
    &__letters--3 {
        font-size: 96px;
        animation: magnify $loader-anime-speed 200ms ease-in backwards infinite;
    }
}