header, .location, .catchword, .how-to__steps__card {
    @include centered;
}

body {
    background-color: $white;
    margin: 0;
    padding: 0;
}

header {
    @include shadow(2,4,15);
    height: 63px;

    @include desktop {
        height: 93px;
    }

    // the return arrow in restaurant's page
    i {
        display: inline-block;
        z-index: 1;
        position: absolute;
        color: $dark;
        left: 24px;
    }
}

// location section
.location {
    background-color: $light;
    @include robot(5,16,$dark);
    height: 50px;

    i {
        margin-right: 17px;
    }
}

// catchword section
.catchword {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: $lighter;

    h2 {
        & + p {
            @include robot(3,18,$dark);
            margin: 18px 0;
        }
    } 
}

// how to order section
.how-to {
    padding: 48px 20px;

    @include desktop {
        width: 1080px;
        margin: auto;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        @include centered;

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }}
}

// restaurants section in home page
.restaurants {
    background-color: $lighter;
    padding: 54px 18px;

    h2 {
        margin-left: 3px;
    }

    &__container {
        @include tablette {
            max-width: 1080px;
            margin: auto;
        }
    }

    &__choice {
        display: grid;
        grid: repeat(4, 1fr) / 1;
        gap: 18px;
        margin-top: 20px;
        margin-bottom: 22px;
    
        @include tablette {
            grid: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 25px;
        }
    
        @include desktop {
            grid: repeat(2, 1fr) / repeat(2, 1fr);
            column-gap: 100px;
            row-gap: 50px;
        }
    }
}

// footer
.related-infos {
    background-color: $dark;
    padding: 22px 25px;

    h5 {
        margin-bottom: 9px;
        padding-right: 50px;

        @include desktop {
            display: inline-block;
            order: 1;
            margin-left: 80px;
        }
    }

    div {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            margin-right: 17px;
        }
    }

    &__partnership a {
        @include robot(5,16,$white);

        @include desktop {
            margin-right: 10px;
        }
    }

    &__contact a {
        @include robot(4,16,$white);

        @include desktop {
            margin-right: 10px;
        }
    }

    a {
        margin-top: 7px;
    }

    i {
        margin-right: 11px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 57px 12px 30px 12px;
    }
}

// restaurant's page (position: absolute, top: 93px)
.restaurant-img {
    @include centered;

    img {
        height: 275px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 63px;

        @include tablette {
            top: 93px;
        }
    }
}

// help respect the model's layout regarding .menu position:relative, top:235px
.menu-container {
    margin-bottom: 235px;
}

// menu (position: relative, top: 235px)
.menu {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 235px;
    z-index: 2;
    background: $light;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 13px;

    h2 {
        @include shrik(28,$darker);
        line-height: 41px;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 9px;
        text-transform: uppercase;
        @include robot(3,16,$black);
    }

    &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px;

        h1, i {
            display: inline-block;
        }

        h1 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        @include tablette {
            justify-content: center;
        }
    }

    &__line {
        background-color: $turquoise;
        height: 3px;
        width: 40px;
        margin-bottom: 12px;
    }

    @include tablette {
        align-items: center;  
    }
}